/* GitHub stylesheet for MarkdownPad (http://markdownpad.com) */
/* Author: Nicolas Hery - http://nicolashery.com */
/* Version: b13fe65ca28d2e568c6ed5d7f06581183df8f2ff */
/* Source: https://github.com/nicolahery/markdownpad-github */
/* BODY
=============================================================================*/

.render {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    /*background-color: #fff;*/
    padding: 0px 20px 0 20px;
    max-width: 960px;
    margin: 0 auto;
}
/* BLOCKS
=============================================================================*/

.render p,
.render blockquote,
.render ul,
.render ol,
.render dl,
.render table,
.render pre {
    margin: 15px 0;
}
/* HEADERS
=============================================================================*/

.render h1,
.render h2,
.render h3,
.render h4,
.render h5,
.render h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.render h1 tt,
.render h1 code,
.render h2 tt,
.render h2 code,
.render h3 tt,
.render h3 code,
.render h4 tt,
.render h4 code,
.render h5 tt,
.render h5 code,
.render h6 tt,
.render h6 code {
    font-size: inherit;
}

.render h1 {
    font-size: 28px;
    color: #000;
}

.render h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000;
}

.render h3 {
    font-size: 18px;
}

.render h4 {
    font-size: 16px;
}

.render h5 {
    font-size: 14px;
}

.render h6 {
    color: #777;
    font-size: 14px;
}

.render >h2:first-child,
.render >h1:first-child,
.render >h1:first-child+h2,
.render >h3:first-child,
.render >h4:first-child,
.render >h5:first-child,
.render >h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.render a:first-child h1,
.render a:first-child h2,
.render a:first-child h3,
.render a:first-child h4,
.render a:first-child h5,
.render a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.render h1+p,
.render h2+p,
.render h3+p,
.render h4+p,
.render h5+p,
.render h6+p {
    margin-top: 10px;
}
/* LINKS
=============================================================================*/

.render a {
    color: #4183C4;
    text-decoration: none;
}

.render a:hover {
    text-decoration: underline;
}
/* LISTS
=============================================================================*/

.render ul,
.render ol {
    padding-left: 30px;
}

.render ul li >:first-child,
.render ol li >:first-child,
.render ul li ul:first-of-type,
.render ol li ol:first-of-type,
.render ul li ol:first-of-type,
.render ol li ul:first-of-type {
    margin-top: 0px;
}

.render ul ul,
.render ul ol,
.render ol ol,
.render ol ul {
    margin-bottom: 0;
}

.render dl {
    padding: 0;
}

.render dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

.render dl dt:first-child {
    padding: 0;
}

.render dl dt>:first-child {
    margin-top: 0px;
}

.render dl dt>:last-child {
    margin-bottom: 0px;
}

.render dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

.render dl dd>:first-child {
    margin-top: 0px;
}

.render dl dd>:last-child {
    margin-bottom: 0px;
}
/* CODE
=============================================================================*/

.render pre,
.render code,
.render tt {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.render code,
.render tt {
    margin: 0 0px;
    padding: 0px 0px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.render pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.render pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.render pre code,
.render pre tt {
    background-color: transparent;
    border: none;
}

.render kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}
/* QUOTES
=============================================================================*/

.render blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}

.render blockquote>:first-child {
    margin-top: 0px;
}

.render blockquote>:last-child {
    margin-bottom: 0px;
}
/* HORIZONTAL RULES
=============================================================================*/

.render hr {
    clear: both;
    margin: 15px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 4px solid #ddd;
    padding: 0;
}
/* TABLES
=============================================================================*/

.render table th {
    font-weight: bold;
}

.render table th,
.render table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
}

.render table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.render table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
/* IMAGES
=============================================================================*/

.render img {
    max-width: 100%
}
